<div class="orders-container">
  <h2 class="orders-header">Orders</h2>

  <div *ngIf="orders.length > 0">
    <div *ngFor="let order of orders" class="order-card">
      <h3>Order ID: {{ order.id }}</h3>
      <p *ngIf="order.orderSupplier && order.orderSupplier.length > 0">
        Order Creation Time: {{ order.orderSupplier[0]?.orderDate }}
      </p>
      <div *ngFor="let supplier of order.orderSupplier" class="supplier-card">
        <h4>OrderSupplierID: {{ supplier.id }}</h4>
        <ul>
          <li *ngFor="let product of supplier.orderSupplierProducts">
            <span class="product-name">Product Name: {{ product.cachedProductName }}</span>,
            <span class="product-quantity">Quantity: {{ product.quantity }}</span>
          </li>
        </ul>
        <p>
          Delivery Date:
          <span *ngIf="supplier.deliveryDate" class="delivery-date">{{ supplier.deliveryDate }}</span>
          <span *ngIf="!supplier.deliveryDate" class="delivery-pending">(will be delivered soon)</span>
        </p>
      </div>
    </div>
  </div>

  <div *ngIf="orders.length === 0" class="no-orders">
    No orders available.
  </div>

  <div class="check-in-form">
    <input type="number" [(ngModel)]="orderSupplierId" placeholder="Enter Order Supplier ID" min ="1" />
    <button (click)="rollReceivedOrder()">Roll In</button>
  </div>
</div>
